<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Add Product</title>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>
 <div class="container">
 <br /><br /><br />
<form action = "#" th:action="@{/addproduct}"  th:object="${product}"  method="post">
        <div><label> Product Name : <input type="text" name="pName" id="pName" class ="form-control" th:field="*{pName}"/> </label></div>
        <div><label> Price <input type="number" step=".01" name="price" id="price" class ="form-control" th:field="*{price}" /> </label></div>
        <div><label> InStock <input type="text" name="stock" id="stock" class ="form-control" th:field="*{inStock}"/> </label></div>
        <div><label> sImage <input type="url" name="sImage" id="sImage"class ="form-control" th:field="*{sImage}"/> </label></div>
        <div><label> lImage <input type="url" name="lImage" id="lImage"class ="form-control" th:field="*{lImage}"/> </label></div>
         <div><label> sDesc <input type="text" name="sDesc" id="sDesc" class ="form-control" th:field="*{sDesc}"/> </label></div>
        <div><label> lDesc <textarea name="lDesc" id = "lDesc" class ="form-control" th:field="*{lDesc}"> </textarea></label></div>
        <button type="submit" class="btn btn-default">Submit</button>
 </form>
 </div>
</body>
</html>