<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>User Profile</title>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>
<div class="container">
    <br /><br /><br/>
    <div class="starter-template">
			<h1>Order History</h1>
			
						<table class="table-responsive table-hover table-bordered" id="orderhistory" style="width:100%">
				<tr>
					<th></th>
					<th>Order ID</th>
					<th>Open Order Status</th>
					<th>Ordered Items</th>
				</tr>
				<th:block th:each="order : ${orders}">
					<tr >
					<th></th>
						<td class="text-center" th:text="@{${order.id}}"></td>
						<td class="text-center" th:text="${order.openOrder}"></td>
						<td class="text-center" >
						<table class="table-responsive table-hover table-bordered" id="lineitems" style="width:100%">
						<tr>
						<th></th>
						<th>Product Name</th>
						<th>Product Image</th>
						<th>Product price</th>
						<th>Product Quantity</th>
						</tr>
						<th:block th:each="litem : ${order.lineItems}">
						<tr >
						<th></th>
						<td class="text-center" th:text="${litem.product.pName}"></td>
						<td class="text-center"><img th:src="@{${litem.product.sImage}}"/></td>
						<td class="text-center" th:text="${litem.product.price}"></td>
						<td class="text-center" th:text="${litem.quantity}"></td>
						</tr>
						</th:block>
						</table>
						</td>
						
					</tr>
				</th:block>
			</table>
			
			
			
			</div>

  </div>

</body>
</html>