<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Samazon Order Success</title>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>
<div class="container">
    <br /><br /><br/>
    
    <div class="span6">
			<h1>Thanks for shopping with Samazon!</h1>
		</div>
    
    <div class="span6">
			<h1>Your order is confirmed.</h1>
		</div>
		
	<div class="span6">
			<h1>Please check your email.</h1>
		</div>
		
		<div class="span6">
		<form action="#" th:action="@{/}"  method="post">
		<button class="btn btn-success btn-block" type="submit">Go to HomePage</button>
		</form>
		</div>
		

</div>
</body>
</html>