<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Samazon Homepage</title>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>
<div class="container">
    <br /><br /><br/>
    
    <p  th:text = "'id: ' + ${pprof.pName}"/>
	<p  th:text = "'content: ' + ${pprof.pName}"/>
		

		<!-- MAIN PRODUCTS GRID-->
	<div class="row-fluid container-folio">
			
				<!-- PROD GRID 
				============================================================ -->
				
				<!-- PROD. ITEM -->
				<div class="span4">
					<div class="thumbnail">
						<!-- IMAGE CONTAINER-->
						<img th:src="@{${pprof.lImage}}" alt="${pprof.pName}">
						<!--END IMAGE CONTAINER-->
						<!-- CAPTION -->
						<div class="caption">
						<h3 class="" th:text="${pprof.pName}">Product title</h3>
							<p class="" th:text="${pprof.lDesc}">This project presents beautiful style graphic &amp; design. Bootstraptor provides modern features</p>
							
							<div class="row-fluid">
								<div class="span6">
									<p class="lead" th:text="${pprof.inStock}"></p>
									<p class="lead" th:text="${pprof.price}">$21.000</p>
								</div>
								<div class="span6">
									<form action="#" th:action="@{/shoppingcart}" th:object="${pprof}" method="post">
									<input type="hidden" name="id" th:value="${pprof.id}"/>
									<input type="hidden" name="pName" th:value="${pprof.pName}"/>
									<input type="hidden" name="inStock" th:value="${pprof.inStock}"/>
									<input type="hidden" name="price" th:value="${pprof.price}"/>
									<input type="hidden" name="lDesc" th:value="${pprof.lDesc}"/>
									<input type="hidden" name="lImage" th:value="${pprof.lImage}"/>
									<input type="hidden" name="sDesc" th:value="${pprof.sDesc}"/>
									<input type="hidden" name="sImage" th:value="${pprof.sImage}"/>
									<button class="btn btn-success btn-block" type="submit">Add to cart</button>
								</form>
								</div>
							</div>
						</div> 
						<!--END CAPTION -->
					</div>
					<!-- END: THUMBNAIL -->
				</div>
				<!-- PROD. ITEM -->
				
				

				
				
				
				
				<!-- / PROD GRID 
				======================================= -->
				
				
				
	</div>
<!-- /INNER ROW-FLUID-->
			<hr>
<!-- PAGINATION-->
 </div>
</body>
</html>