<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org "
	xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Samazon Shopping Cart</title>
<th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>
<div class="container">
		<br />
		<br />
		<div class="starter-template">
			<h1>Shopping Cart Products</h1>
			<!-- <p  th:text = "'UserName: ' + ${user.firstName}"/> -->
			<table class="table-responsive table-hover table-bordered" id="shoppingcart" style="width:100%">
				<tr>
					<th></th>
					<th>Product Name</th>
					<th>Description</th>
					<th>Quantity</th>
					<th>Unit Price</th>
					<th>Total Price</th>
					<th>Delete?</th>
				</tr>
				<th:block th:each="lineitem : ${lineitems}">
					<tr th:if="${lineitem.deleted=='false'}">
						<td class="text-center"><img th:src="@{${lineitem.product.sImage}}"/></td>
						<td class="text-center" th:text="${lineitem.product.pName}"></td>
						<td class="text-center" th:text="${lineitem.product.sDesc}"></td>
						<td class="text-center" th:text="${lineitem.quantity}"></td>
						<td class="text-center" th:text="${'$'+lineitem.product.price}"></td>
						<td class="text-center" th:text="${'$'+#numbers.formatDecimal(lineitem.quantity*lineitem.product.price,0,'COMMA',2,'POINT')}"></td>
						<td>
							<form th:action="@{deletefromcart}" th:object="${lineitem}" method="post">
								<input type="hidden" name="id" th:value="${lineitem.id}"/>
								<input type="hidden" name="product" th:value="${lineitem.product.id}"/>
								<input type="hidden" name="order" th:value="${lineitem.order.id}"/>
								<input type="hidden" name="quantity" th:value="${lineitem.quantity}"/>
								<button class="btn btn-danger btn-block" type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</th:block>
			</table>
			<div class="col-sm-3 col-md-3 col-lg-3" style="float:right;" th:text="${'Total Price: $'+total}"></div>
			<form th:action="@{orderconfirmation}" th:object="${lineitems}" method="post">
				<button class="btn btn-success btn-block" type="submit">Check Out</button>
			</form>
		</div>
</div>
</body>
</html>